/* @media screen and (max-width: 600px){
    .header {
        visibility: hidden;
    }
} */

body {
    background-image: url("../images/bg.jpg");
}

p {
    text-align: left;
    color: #777777;
    font-size: 16px;
}

h1 {
    color: lightslategrey;
    font-size: 24px;
}

.header {
    width: 100%;
    height: 60px;
    background: #fff;
}

.my-navbartweeks {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

.links {
    text-decoration: none;
    color: #777777;
    text-shadow: 2px 2px 4px #fff;
}

.links:hover {
    color: #c50000;
    /* font-weight: bold; */
    text-shadow: 2px 2px 4px #4aaaa5;
}

.links:focus {
    color: #c50000;
    /* font-weight: bold; */
    text-shadow: 2px 2px 4px #4aaaa5;
}

.name {
    display: inline-block;
    width: 200px;
    height: 60px;
    color: #fff;
    background-color: #4aaaa5;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    margin: 0px;
}

.body-container {
    background: #fff;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 30px;
}

.hr {
    background-color: lightslategrey;
    height: 2px;
}

/* About Elements */

.aboutimage {
    float: left;
    width: 250px;
    margin: 0px 20px 20px 0px;
}

/* Portfolio Elements */

.portcontainer {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    margin: 0px 0px 20px 20px;
    border: 1px solid black;
}

.portimage {
    width: 200px;
}

.porttitle {
    position: relative;
    bottom: 50px;
    width: 200px;
    height: 35px;
    color: #fff;
    background-color: lightslategrey;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
}

/* Contact Elements */

.mytextbox {
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    background-color: #4aaaa5;
    color: #fff;
}

.btn:hover {
    background-color: #214d4a;
    color: #fff;
    box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:focus {
    background-color: #c50000;
    color: #fff;
    box-shadow: 0px 0px 20px 1px #4aaaa5;
}

.btn:active {
    background-color: #c50000;
    color: #fff;
}

/* Footer Styling */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightgrey;
    color: white;
    text-align: center;
}

#footerid {
    padding: 20px;
    margin-top: 10px;
    background-color: #666666;
    color: white;
    font-size: 9px;
}